/*Colores*/
$fondotitulo: rgb(187, 187, 187);
$font_color: blue;

/*Espaciados*/
$large: 5rem;
$medium: 3rem;
$small: 1rem;

/*fuentes*/
$font_title: 'Oswald', "sans-serif";
$font_p: 'libre caslon text', 'serif';

/*Tamaño de fuente*/
$large: 5.2em;
$medium: 2.2em;
$small: 1.2em;

